<div class='Fondo'>
    <mat-accordion>
        <!--SECCIÓN DE AMIGOS AGREGADOS-->
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title >
                    <h1>Amigos</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <h2>Lista de Amigos Agregados</h2>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <input matInput class="Filtro" placeholder="Filtrar">
            <button class="Botones">Filtrar</button>
            <button class="Botones">Borrar Filtros</button>
            <br> <br> <br>
            <mat-card class='FondoPublicacion'>
                <mat-card-header>
                    <mat-card-title>Usuario</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="Imagen">
                        <img mat-card-image src="../../../assets/Img/Avatar2.png">
                    </div>
                </mat-card-content>
                
                <mat-card-actions>
                    <button mat-button class="Botones2">Eliminar</button>
                </mat-card-actions>

            </mat-card>

            <mat-card class='FondoPublicacion'>
                <mat-card-header>
                    <mat-card-title>Usuario</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="Imagen">
                        <img mat-card-image src="../../../assets/Img/Avatar5.png">
                    </div>
                </mat-card-content>
                
                
                <mat-card-actions>
                    <button mat-button class="Botones2">Eliminar</button>
                </mat-card-actions>

            </mat-card>

        </mat-expansion-panel>

        <!--SECCIÓN DE SUGERENCIAS-->
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1>Sugerencias</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <h2>Personas que quiza conozcas</h2>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <input matInput class="Filtro" placeholder="Filtrar">
            <button class="Botones">Filtrar</button>
            <button class="Botones">Borrar Filtros</button>
            <br> <br> <br>
            <mat-card class='FondoPublicacion'>
                <mat-card-header>
                    <mat-card-title>Usuario</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="Imagen">
                        <img mat-card-image src="../../../assets/Img/Avatar3.png">
                    </div>
                </mat-card-content>
                
                <mat-card-actions>
                    <button mat-button class="Botones2">Eliminar</button>
                </mat-card-actions>

            </mat-card>

            <mat-card class='FondoPublicacion'>
                <mat-card-header>
                    <mat-card-title>Usuario</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="Imagen">
                        <img mat-card-image src="../../../assets/Img/Avatar4.png">
                    </div>
                </mat-card-content>
                
                
                <mat-card-actions>
                    <button mat-button class="Botones2">Agregar</button>
                </mat-card-actions>

            </mat-card>

        </mat-expansion-panel>

        <!--SECCIÓN SOLICICITUDES-->
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1>Solicitudes</h1>
                </mat-panel-title>
                <mat-panel-description>
                    <h2>Personas que desean ser tus amigos</h2>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <input matInput class="Filtro" placeholder="Filtrar">
            <button class="Botones">Filtrar</button>
            <button class="Botones">Borrar Filtros</button>
            <br> <br> <br>
            <mat-card class='FondoPublicacion'>
                <mat-card-header>
                    <mat-card-title>Usuario</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="Imagen">
                        <img mat-card-image src="../../../assets/Img/Avatar3.png">
                    </div>
                </mat-card-content>
                
                <mat-card-actions>
                    <button mat-button class="Botones2">Aceptar</button>
                    <button mat-button class="Botones2">Rechazar</button>
                </mat-card-actions>

            </mat-card>

            <mat-card class='FondoPublicacion'>
                <mat-card-header>
                    <mat-card-title>Usuario</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="Imagen">
                        <img mat-card-image src="../../../assets/Img/Avatar4.png">
                    </div>
                </mat-card-content>
                
                
                <mat-card-actions>
                    <button mat-button class="Botones2">Aceptar</button>
                    <button mat-button class="Botones2">Rechazar</button>
                </mat-card-actions>

            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</div>